#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#score {
    display: flex;
    width: 25em;
    justify-content: space-between;
}

.objects_low {
    display: flex;
}

.object {
    height: 1em;
    width: 1em;
    text-align: center;
    /* font-size: 2.5em; */
}

.blank {
    color: gray;
}

.wall {
    color: black;
}